/* Adding Fonts Style to CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");

/* Resetting the Default  */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  /* padding: 25px 20px; */
  padding-bottom: 10px;
}

/* Designing the body Parts */
body {
  background-color: azure;
  margin: 0 auto;
  text-align: center;
}

/* Main Header */
.container .heading {
  font-size: 25px;
  margin-bottom: 20px;
  color: #334;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.container .box-container .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3) {
  display: inline-block;
}

.container .box-container .box .image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container .box-container .box .image img {
  /* height: 100%;
  width: 100%; */
  width: 800px;
  height: 500px;
  border-radius: 10px;
  /* border: 2px solid red; */
  object-fit: cover;
}

.container .box-container .box:hover .image img {
  transform: scale(1.1);
}

.container .box-container .box h3 {
  font-size: 22px;
  color: darkblue;
}

.container .box-container .box p {
  font-size: 16px;
  color: rgb(15, 14, 14);
  /* line-height: 2; */
  padding: 15px;
}
.container .box-container .box .content .btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
}
.container .box-container .box .content .btn:hover {
  background-color: blueviolet;
  border-color: blueviolet;
  color: #fff;
}

.container .box-container .box .content .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
  border-top: 1px solid #334;
}
.container .box-container .box .content .icon span {
  font-size: 14px;
  color: #777;
}

.container .box-container .box .content .icon span i {
  color: rgb(240, 10, 171);
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover {
  background-color: crimson;
  border-color: crimson;
  color: #fff;
}

.heading1 {
  margin-top: 10px;
  padding: 10px;
}

.heading {
  margin-top: 10px;
  padding: 10px;
}

.fa-solid {
  padding-right: 5px;
}

.social-media-link i {
  padding-top: 15px;
  font-size: medium;
  margin: 5px;
}
.social-media-link {
  margin-top: 15px;
  justify-content: baseline;
}
.footer {
  background-color: rgba(71, 71, 173, 0.675);
  text-align: center;
  justify-content: baseline;
}

.page-link {
  background-color: transparent;
  cursor: pointer;
}

.pagination {
  /* border: 2px solid green; */
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.pagination li {
  list-style-type: none;
}
.page-item i {
  font-size: 20px;
}

/* For Smaller Screen */
@media (max-width: 450px) {
  .container .heading {
    font-size: 25px;
  }
  .container .box-container {
    grid-template-columns: 1fr;
  }

  .container .box-container .box .content p {
    font-size: 12px;
  }
  .container .box-container .box .content .icon span {
    font-size: 12px;
  }

  .container .box-container .box .image {
    height: 200px;
  }
}

.categories {
  list-style-type: none;
  display: flex;
}
.categories li {
  margin: 1rem;
  cursor: pointer;
}
header {
  padding: 1rem;
  display: flex;
  height: 5rem;
  justify-content: center;
  background: rgba(129, 156, 141, 0.742);
}
